/vendor
node_modules/
npm-debug.log
yarn-error.log

/storage/*.key
.env
.env.backup
Homestead.yaml
Homestead.json

public/storage
public/hot
public/.htaccess

public_html/storage
public_html/hot
public_html/.htaccess

/.idea
/.vscode
/.vagrant
.phpunit.result.cache
/database/database.sqlite
docker-compose.override.yml

*.log
*.sql
*.sqlite
.cache/
*.bak
*.orig
